@import "sass/abstracts/variable";
footer {
  background-color: $footerBGColor;
  color: $footerTextColor;
  padding: 20px;
  padding-bottom: 0;
  -webkit-align-content: center;
  text-align: center;
  @media (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-container {
    margin: 0 auto;
    max-width: 1346px;
    padding: 10px 20px 20px 20px;
    @media (max-width: 767px) {
      width: 100%;
      padding: 20px 0 0 0;
    }
    .page-footer-container-child {
      -webkit-box-flex: 0;
      max-width: 33.33%;
      flex: 0 0 33.33%;
      @media (max-width: 767px) {
        -webkit-box-flex: 0;
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
        text-align: center;
      }
      h4 {
        padding: 0 0 0 15px;
        color: $footerTextColor;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.02em;
        @media (max-width: 767px) {
          margin-top: 30px;
          font-size: 14px !important;
        }
        @media(max-width: 1024px){
          font-size: 11px;
        }
        &:after{
          content: '';
          position: absolute;
          border-bottom: 2px solid $themeColor;
          width: 45px;
          top: 28px;
          left: 34px;
          @media (max-width: 767px) {
            left: 154px;
          }
        }
      }
      img {
        width: 110px;
        @media (max-width: 767px) {
          width: 70px;
        }
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: $footerTextColor;
        text-align: justify;

        @media (max-width: 767px) {
          padding: 1px 5px;
          margin-bottom: 20px;
        }
      }
      ul {
        @media (max-width: 767px) {
          border-top: 1px solid #aaa;
        }
        li {
          padding: 0 0 0 15px;
          display: block;
          margin: 0 0 12px;
          @media (max-width: 767px) {
            padding: 0 5px 10px 15px;
            border-bottom: 1px solid #aaa;
            margin: 10px;
          }
          a {
            font-size: 14px;
            color: $footerTextColor;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.02em;
            @media (max-width: 767px) {
              padding: 10px;
            }
          }
        }
        li + li {
          margin-top: 3px;
          @media (max-width: 767px){
            margin-top: auto;
          }
        }

      }
      .link-boxes {
        text-align: left;
        margin-bottom: 20px;
        @media (max-width: 767px) {
          text-align: center;
        }
        span {
          color: $footerTextColor;
          margin-bottom: 30px;
          font-size: 14px;
          text-decoration: none;
          line-height: 1.5em;
          font-weight: 300;
          border-bottom: 1px solid transparent;
          @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          a {
            color: $footerTextColor;
            font-weight: 400;
          }
          i {
            font-size: 24px;
          }
        }
      }
    }
    .page-footer-container-child-50 {
      -webkit-box-flex: 0;
      max-width: 50%;
      flex: 50%;
      @media (max-width: 767px) {
        -webkit-box-flex: 0;
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
        text-align: center;
      }

      h4 {
        padding: 0 0 0 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: $footerTextColor;
        margin-bottom: 30px;
        @media (max-width: 767px) {
          margin-top: 30px;
          font-size: 14px !important;
        }
        @media (max-width: 1024px) {
          font-size: 11px;
        }
        &:after{
          content: '';
          position: absolute;
          border-bottom: 2px solid $themeColor;
          width: 45px;
          top: 28px;
          left: 34px;
          @media (max-width: 767px) {
            left: 154px;
          }
        }
      }
      img {
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        color: #999;
        @media (max-width: 767px) {
          padding: 1px 5px;
          margin-bottom: 20px;
        }
      }
      ul {
        width: 50%;
        float: left;
        @media (max-width: 767px) {
          width: 100%;
        }
        li {
          padding: 0 0 0 15px;
          display: flex;
          align-items: center;
          margin: 0 0 12px;
          @media (max-width: 767px) {
            padding: 0 5px 10px 15px;
            border-bottom: 1px solid #aaa;
            justify-content: center;
          }
          a {
            font-size: 14px;
            color: $footerTextColor;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.02em;
            @media (max-width: 767px) {
              padding: 10px;
            }
            &:hover {
              opacity: 1;
            }
          }
          svg {
            margin-right: 7px;
            width: 18px;
            height: 18px;
          }
        }
        li + li {
          margin-top: 3px;
          @media (max-width: 767px){
            margin-top: auto;
          }
        }

      }
      .link-boxes {
        text-align: left;
        margin-bottom: 20px;
        @media (max-width: 767px) {
          text-align: center;
        }
        span {
          color: #eee;
          margin-bottom: 30px;
          font-size: 14px;
          color: $footerTextColor;
          text-decoration: none;
          line-height: 1.5em;
          font-weight: 300;
          border-bottom: 1px solid transparent;
          @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          a {
            color: $footerTextColor;
            &:hover {
              opacity: 1;
            }
          }
          i {
            font-size: 24px;
          }
        }
      }
    }
    .social-icon {
      text-align: center;
      -webkit-align-content: center;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        margin-top: 20px;
        justify-content: center;
        align-items: center;
      }
      li {
        text-align: center;
        -webkit-align-content: center;
        display: inline-block;
        margin-right: 10px;
        a {
          border-radius: 100%;
          color: $footerTextColor;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            fill: #666 !important;
            width: 30px;
            height: 24px;
            stroke-width: 0;
            @media (max-width: 767px) {
              width: 20px;
              height: 20px;
            }
          }
        }
        @media (max-width: 767px) {
          border-bottom: none !important;
        }
      }
    }
  }
  .copyright {
    background: #fe6601;
    margin: 0 -20px;
    padding: 20px 15px;
    color: $footerTextColor;
    font-size: 13px;
    line-height: 1.8em;
    text-align: center;
    -webkit-align-content: center;
  }
}
.footer-container .link-boxes p{
  padding: 0;
  margin: 15px 0 20px;
}

.facebook-footer{
  svg{
    stroke: #666;
    stroke-width: 1px !important;
  }
}

